
packages/DynamicDataDisplay.0.3.0.1/DynamicDataDisplay.0.3.0.1.nupkg
packages/DynamicDataDisplay.0.3.0.1/lib/net45/DynamicDataDisplay.dll
packages/MahApps.Metro.1.5.0/lib/net40/MahApps.Metro.dll
packages/MahApps.Metro.1.5.0/lib/net40/MahApps.Metro.pdb
packages/MahApps.Metro.1.5.0/lib/net40/MahApps.Metro.XML
packages/MahApps.Metro.1.5.0/lib/net40/System.Windows.Interactivity.dll
packages/MahApps.Metro.1.5.0/lib/net45/MahApps.Metro.dll
packages/MahApps.Metro.1.5.0/lib/net45/MahApps.Metro.pdb
packages/MahApps.Metro.1.5.0/lib/net45/MahApps.Metro.XML
.vs/pinger/v15/.suo
packages/MahApps.Metro.1.5.0/lib/net45/System.Windows.Interactivity.dll
packages/MahApps.Metro.1.5.0/MahApps.Metro.1.5.0.nupkg
packages/MahApps.Metro.1.5.0/tools/install.ps1
packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo-license.txt
packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Entypo.ttf
packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/Icons.xaml
packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/IconsNonShared.xaml
packages/MahApps.Metro.Resources.0.6.1.0/content/Resources/WindowsIcons-license.txt
packages/MahApps.Metro.Resources.0.6.1.0/MahApps.Metro.Resources.0.6.1.0.nupkg
